.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 56px;
  width: 100%;
}

.main {
  background: linear-gradient(
    180deg,
    #a566d6 0%,
    rgba(222, 105, 140, 0.65) 60.42%,
    rgba(237, 145, 78, 0.6) 90.1%,
    rgba(255, 199, 56, 0.6) 100%
  );
  flex-grow: 1;
  overflow: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
